
.nav-icon-link {
    padding-left: 0.3em;
}

#map {
    z-index: 1;
    height: 450px;
}

#view-request {
    position: fixed;
    width: inherit;
    padding: 0 25px 25px 0;
    overflow-y: scroll;
    max-height: calc(100vh - 52px);
}